<div class="custom-hero{% if section.settings.background_image == blank %} custom-hero-no-bg{% endif %}">
  <div class="custom-hero-content">
    <div class="custom-hero-content">
      <h1>{{ section.settings.heading }}</h1>
      <p>{{ section.settings.description }}</p>
      <a href="{{ section.settings.button_link }}" class="custom-hero-button">{{ section.settings.button_text }}</a>
    </div>
  </div>
</div>

<style>
  .custom-hero {
    display: flex;
    justify-content:flex-start;
    align-items: end;
    background-image: url('{{ section.settings.background_image | img_url: 'master' }}');
    background-size: cover;
    padding:64px;
    height: 570px;
  }

  .custom-hero-no-bg {
    background-image:none;
    background-color: black;
  }

  .custom-hero h1 {
    font-size: 46px;
    font-weight: bold;
    line-height: 56px;
    color: #FFFFFF;
  }

  .custom-hero p {
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
  }

  .custom-hero-button {
    padding: 12px 22px 12px 22px;
    border-radius:8px;
    text-decoration:none;
    cursor:pointer;
    background-color: #3A5F0B;
    color: #FFFFFF
  }


  @media (max-width: 820px) {
    .custom-hero {
    padding:32px;
    text-align: left;
  }

  @media (max-width: 390px) {
    .custom-hero {
    padding:16px;
    text-align: left;
  }

  }
</style>

{% schema %}
{
  "name": "Hero Section",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
   },
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "heading"
    },
     {
      "type": "textarea",
      "label": "Description",
      "id": "description"
    },
    {
      "type": "text",
      "label": "Button Text",
      "id": "button_text"
    },
    {
      "type": "url",
      "label": "Button Link",
      "id": "button_link"
    },
    {
      "type": "image_picker",
      "label": "Background Image",
      "id": "background_image"
    }
  ],
  "presets": [
    {
      "name": "Hero Section",
      "settings": {
        "heading": "Title copy goes here",
        "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
        "button_text": "Find your Scent",
        "button_link": "#"
      }
    }
  ]
}
{% endschema %}
